.SecondView{
    background-color: rgb(243 241 208);
    height: 100vh;
    position: relative;
    overflow: hidden;
    color:rgb(243 241 208);
}
.SecondView-left{
    width: 100%;
    height: 30%;    
    background-color: #0b0c0b;
}
.SecondView-right{
    width: 100%;
    height: 69%;
}