.ThirdSquare{
    background-color: beige;
    height: 100px;
    position: relative;
    overflow: hidden;
    color:beige
}
.ThirdSquare:hover .third-left{
    transition: 1.5s;
    left: 0;
}
.ThirdSquare:hover .third-right{
    transition: 1.5s;
    right: 0;
}
.third-left{
    width: 40%;
    background-color: black;
    height: 100%;
    float: left;
    border-radius: 0 50px 50px 0;
    position: absolute;
    left: -20%;
    transition: 1.5s;
}
.third-right{
    width: 40%;
    background-color: black;
    height: 100%;
    float: right;
    border-radius: 50px 0 0 50px;
    position: absolute;
    right: -20%;
    transition: 1.5s;
}